.root {
    -fx-background-image: url("/imagenes/pantalla.png");
    -fx-background-size: cover;
}
.button {
    -fx-text-fill: black;
    -fx-background-radius: 5;
    -fx-padding: 10px 20px;
}

.button:hover {
    -fx-background-color: #8FB7FF;
    -fx-text-fill: white;
}
.btn-salir {
    -fx-text-fill: black;
    -fx-background-radius: 5;
    -fx-padding: 10px 20px;
}

.btn-salir:hover {
    -fx-background-color: #FF7F7F;
    -fx-text-fill: white;
}